body {
  background-color: aquamarine;
}

/* CSS on image element */

.imgBox{
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
}

/* CSS on gif element */

.gif{
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
}

/* CSS on text element */

.text{
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
} 

.container {
  height: 300px;
  width: 700px;
  margin: auto;
  margin-top: 100px;
}

/* CSS on first whitebox element */

#whiteBox1{
  position: fixed;
  display: inline-block;
  height: 300px;
  width: 300px;
  background-color: white;
  border: 3px black solid;
}

/* CSS on second whitebox element */

#whiteBox2 {
  position: fixed;
  display: inline-block;
  height: 300px;
  width: 300px;
  background-color: white;
  margin-left: 350px;
  border: 3px black solid;
}

/* CSS on block of reset button element */

.btn{
  width: 100%;
  height: 40px;
  margin-top: 100px;
}

/* CSS on reset button element */

.resetBtn {
  position: relative;
  margin-left: 47%;
  height: 40px;
  width: 80px;
  font-size: larger;
  font: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-emphasis-color: blue;
  background-color: rgb(93, 93, 206);
}

/* This is the class applied on element which are being dragged.
This is appied only for the time elemet is being dragged */

.hold {
  border: 3px red solid;
}

/* This is to hide the element once dragged */

.hide {
  display: none;
}